<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IEDC Gec Thrissur</title>
    <%- include('../partials/achievements/achievementsLinks') %>
  </head>

  <body>
    <%- include('../partials/navbar/navbar') %>
   
    <div class="heading">
      <%- include('../partials/achievements/achievementsHeader') %>
      <div class="content">
        <%- include('../partials/achievements/achievementsText') %>
       
      </div>
    </div>
    <%- include('../partials/achievements/achievementsScripts') %>
    <div class="footer">
      <%- include('../partials/achievements/achievementsFooter') %>
    </div>
  </body>
</html>