<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IEDC Gec Thrissur</title>
  <%- include('../partials/events/eventsLinks') %>
</head>

<body>
  <%- include('../partials/navbar/navbar') %>
  <h1>Events Page</h1>
  <% event.data.forEach(function(obj) { %>
  <li>
    <strong><%= obj.name %></strong>
    description= <%= obj.description %>,Event type=<%= obj.eventType %>,Image=<%= obj.photo %>
  </li>
  <% }); %>
  <%- include('../partials/events/eventsScripts') %>
</body>

</html>