<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IEDC Gec Thrissur</title>
  <%- include('../partials/home/homeLinks') %>

</head>

<body>
  <%- include('../partials/navbar/navbar') %>

  <%- include('../partials/home/homeHeader') %>
  <div class="container"></div>
  <div class="content">
    <!--
      
      <h1>Home Page</h1>
      <% home.data.forEach(function(obj) { %>
      <li>
        <strong><%= obj.name %></strong>
        description =<%= obj.description %>, Event type= <%= obj.eventType %>,Image= <%= obj.photo %>
      </li>
      <% }); %>
      <%- include('../partials/home/homeScripts') %>-->
  </div>
  </div>

</body>

</html>